body {
  background-color: #222;  /* 밝은 검정색 배경 */
  color: #fff;             /* 모든 글씨를 흰색으로 */
  min-height: 100vh;       /* 세로 가득 채우기 */
  margin: 0;               /* 불필요한 기본 여백 제거 */
  padding: 0;
  overflow: hidden;
  font-family: 'Malgun Gothic', '맑은 고딕', Arial, sans-serif;
}

.monospace {
  font-family: Consolas, 'Courier New', Courier, monospace;
  /* !important로 강제 적용하고 싶으면 맨 뒤에 !important; */
}

.knight-img {
  width: 256px;
  height: 256px;  
  position: absolute;
  left: 0;
  right: 0;
  transition: left 0.05s, top 0.05s;
}

.game-area {
    width: 1280px;
    height: 720px;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background: #333;
    color: #fff;
    position: relative;
}